<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page_title }}</title>
  </head>

  <body>
    <h1>{{ inventory }}</h1>

    <p>
      Provisioned with Terraform and configured with Ansible.
    </p>
  </body>
</html>